header {
  display: flex;
  align-items: center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  height: 80px;
  width: 100%;
  border: 1px solid black;
}

.logo {
  display: flex;
  align-items: center;
  color: MediumAquamarine;
  padding-left: 30px;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

nav span {
  display: inline-block;
  padding: 10px;
}

.logo span {
  padding-left: 10px;
  display: inline-block;
  width: 100px;
}

header a:link, a:visited {
  color: black;
  text-decoration: underline;
  cursor: auto;
}

.body {
  display: flex;
  width: 100%;
  justify-content: space-around;
  border: 1px solid black;
}

.column.large {
  width: 630px;
  border: 1px solid black;
}

.column.medium {
  width: 300px;
  border: 1px solid black;
}

.column.small {
  width: 240px;
  border: 1px solid black;
}

.image {
  display: flex;
  justify-content: center;
}

.tuna {
  background-image: url("../../resources/images/img-story-main.png");
  text-align: left;
}

.earth {
  background-image: url("../../resources/images/img-story-2.png");
}

.camera {
  background-image: url("../../resources/images/img-story-3.png");
}

/* Fonts */

h2,
h3,
p,
img,
.story {
  border: 1px solid black;
}

p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.image h2 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
}
